<div class="container my-5">
    <h2 class="text-center mb-4">Lista de usuarios</h2>

    <!-- Indicador de carga -->
    @if (carregant()) {
    <section class="row pt-5">
        <div class="spinner-border mx-auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </section>
    }

    <!-- Mensaje de error -->
    @if (error()) {
    <section class="row pt-5">
        <p class="text-center fs-4 text-danger pb-4"> {{error()}} </p>
        <button class="btn btn-danger mx-auto" style="width: 200px;" (click)="carregarUsuaris()">Volver a
            probar</button>
    </section>
    }

    <!-- Lista de usuarios -->
    @if (!carregant() && !error()) {
    <section class="row">
        <form class="d-flex pb-4 mx-auto" role="search" style="max-width: 500px;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="cercaText" />
        </form>
    </section>
    <section class="row row-cols-1 row-cols-md-3 g-4">
        @for (usuari of getUsuarisFiltrats(); track usuari.id) {
        <div class="col">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body">
                    <h5 class="card-title">{{ usuari.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@{{ usuari.username }}</h6>
                    <p class="card-text"><strong>Email:</strong> {{ usuari.email }}</p>
                    @if (usuari.phone) {
                    <p class="card-text"><strong>Telèfon:</strong> {{ usuari.phone }}</p>
                    }
                    @if (usuari.website) {
                    <p class="card-text"><strong>Web:</strong> <a href="http://{{ usuari.website }}" target="_blank">{{
                            usuari.website }}</a></p>
                    }
                    @if (usuari.company) {
                    <p class="card-text"><strong>Empresa:</strong> {{ usuari.company.name }}</p>
                    }
                </div>
            </div>
        </div>
        }
    </section>
    }


</div>